django==3.1.1
djangorestframework==3.12.1
django-phonenumber-field==5.0.0
phonenumbers==8.12.10
requests==2.24.0

scrapy==2.3.0
injector==0.18.4

itemadapter~=0.1.0
scrapyd==1.2.1
pdfminer==20191125

mysqlclient==2.0.1
tqdm
json2html
elasticsearch<7.0.0,>=6.0.0
elasticsearch-dsl>=6.4.0,<7.0.0
django-elasticsearch-dsl>=6.0.0,<7.0.0
