{% extends 'base.html' %}


{% block content %}
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
        #submit_button {
            margin-top: 20px;
            margin-left: 20px;
        }
        </style>
        <h1>SDS Match Maker</h1>
        <p>Wish: <strong>{{ wish.trade_name }}</strong> by <strong>{{ wish.supplier }}</strong></p>
        <div>
            <h2>Matches</h2>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Match">
            </form>
            <form action="pair/{{ wish.id }}" method="post">
            {% csrf_token %}
                <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Trade Name</th>
                        <th>Supplier</th>
                        <th>PDF Link</th>
                        <th>Select</th>
                    </tr>
                    {% for product in products %}

                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.sds_product_name }}</td>
                            <td>{{ product.sds_manufacture_name }}</td>
                            <td><a href="{{ product.link }}" target="_blank">PDF</a></td>
                            <td>
                                <input type="radio" name="match" value={{ product.pdf_md5 }}>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input id="submit_button" class="right" type="submit" value="Submit">
            </form>
            <h2>Manual SDS Upload</h2>
            <form action="upload/{{ wish.id }}" method="post">
                {% csrf_token %}
                {{ upload_form }}
                <input type="submit" value="Upload">
            </form>

            <a href="/admin/core/sdsharvestsource/add/" target="_blank">Add New Harvest Source</a>
        </div>
{% endblock %}

