{% extends 'base.html' %}

{% block content %}
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
        </style>
        <h1>SDS Match Maker</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Match">
        </form>
        <div>
            <h2>Matches</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Trade Name</th>
                        <th>Supplier</th>
                        <th>PDF Link</th>
                    </tr>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.sds_product_name }}</td>
                            <td>{{ product.sds_manufacture_name }}</td>
                            <td><a href="{{ product.link }}" target="_blank">PDF</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}


